@model Proje.Models.Yemek

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Yemek</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YemekAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YemekAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Afis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Afis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategori.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porsiyon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porsiyon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PismeSuresi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PismeSuresi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YuklenmeTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YuklenmeTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HazirlanmaSuresi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HazirlanmaSuresi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
